# Core
numpy>=1.24.0
pandas>=2.0.0
tqdm>=4.66.0

# Telegram
telethon>=1.34.0
qrcode>=7.4.2

# Librosa extractor
librosa>=0.10.0

# OpenL3 extractor
openl3>=0.4.2
soundfile>=0.12.0


# CLAP extractor
laion-clap>=1.0.0
transformers>=4.36.0
